*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #d7d7d7;
}

p{
	padding: 10px;
	padding-left: 30px;
}

label{
	padding: 10px;
	padding-left: 15px;
}

i{
	background-color: red;
	float: right;
	padding: 5px;
	transition: 0.5s;
	margin-right: -100px;
}

div:hover > i{
	transition: 0.5s;
	margin-right: 0px;
}

.text{
	width: 100%;
	padding: 10px;
	padding-left: 30px;
	border: none;
	box-sizing: border-box;
	outline: none;
	background-color: #efefef;
}

.checkbox{
	margin: 15px;
}

#header{
	background-color: pink;
}

#list{
	position: absolute;
	height: auto;
	width: 400px;
	max-height: 400px;
	margin-top: 200px !important;
	left: 0;
	right: 0;
	margin: auto;
	overflow-y: auto;
	line-height: normal;
	overflow-x: hidden;
	background-color: white;
}